body {
  font-family:
    "Segoe UI",
    system-ui,
    -apple-system,
    sans-serif;
}

:root {
  /* for bg style */
  --primary: #4f46e5;
  --secondary: #7c3aed;
  --accent: #06b6d4;
  --background: #030712;
  --text: #f8fafc;
}

.products-container {
  position: relative;
  width: auto;
  height: auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products-container a {
  text-decoration: none;
  color: #000000;
}

.products-container .nav-item a {
  color: rgba(248, 250, 252, 0.8);
  transition: all 0.4s linear;
}

.products-container .nav-item a:hover {
  color: #4375e1;
}

.products-container .nav-item .active {
  color: #4375e1;
}

.products-container .nav-item a.disabled {
  color: #898071;
}

.products-container .navigation-menu {
  position: absolute;
  z-index: 10000;
  top: 1%;
  color: #efefee;
  font-size: 40px;
  font-family: monospace;
}

.products-container .restaurant-menu-frame {
  position: relative;
  padding-bottom: 80px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.products-container .restaurant-menu-frame .board {
  position: relative;
  margin-top: 100px;
  width: 1320px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products-container .board .dishes-table {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products-container .board .dish-container {
  position: relative;
  margin-top: 20px;
  width: 100%;
  height: auto;

  display: none;
  flex-direction: column;
  align-items: center;
}

.products-container .new-dish-txt {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 25px;
  color: #ffffff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 15px 30px;
}

.products-container .long-input .btn {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 20px;
  font-weight: 600;
  color: var(--text);
  background: linear-gradient(45deg, var(--primary), var(--secondary));
  border: none;
  border-radius: 20px;
  text-decoration: none;
  transition: all 0.2s ease;
  position: relative;
  overflow: hidden;
  animation: fadeIn 0.5s ease-out 0.5s both;
}

.products-container .long-input {
  position: relative;
  margin-top: 25px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.products-container label {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
}

.products-container .long-input input {
  position: relative;
  margin-top: 10px;
  padding-left: 20px;
  width: 100%;
  height: 54px;
  border: none;
  background: #f7f7f7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #4f547b;
}

.products-container .long-input textarea {
  position: relative;
  margin-top: 10px;
  padding: 20px;
  width: 100%;
  height: 100px;
  border: none;
  background: #f7f7f7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #4f547b;
}

.products-container .half-input select {
  position: relative;
  margin-top: 10px;
  padding: 0px 20px;
  width: 100%;
  height: 55px;
  display: flex;
  border: none;
  background: #f7f7f7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #4f547b;
}

.products-container select:focus {
  min-width: 100%;
  width: auto;
}

.products-container .long-input select {
  position: relative;
  margin-top: 10px;
  padding: 0px 20px;
  width: 100%;
  height: 55px;
  display: flex;
  border: none;
  background: #f7f7f7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #4f547b;
}

.products-container .dish-container .half-input-frame {
  position: relative;
  margin-top: 25px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.products-container .half-input-frame .half-input {
  position: relative;
  width: 49%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.products-container .half-input label {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
}

.products-container .half-input input {
  position: relative;
  margin-top: 10px;
  padding-left: 20px;
  width: 100%;
  height: 54px;
  border: none;
  background: #f7f7f7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.products-container .media-frame {
  position: relative;
  margin-top: 10px;
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.products-container .media-frame .upload-img-box {
  position: relative;
  width: 19%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}

.products-container .upload-img-box img {
  position: relative;
  width: 80%;
  height: 60%;
  display: block;
  border-radius: 10px;
}

.products-container .img-frame {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.products-container .img-frame label {
  margin-top: 30px;
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 25px;
  color: #fff;
}

.products-container #file {
  opacity: 0;
  border: none;
  border-radius: 10px;
  background: grey;
  position: absolute;
  left: 0px;
  width: 100%;
  top: 0px;
  height: 100%;
  cursor: pointer;
}

.products-container .operation-buttons {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.products-container .operation-buttons .btn {
  display: inline-block;
  padding: 1rem 2rem;
  width: 50%;
  font-size: 20px;
  font-weight: 600;
  color: var(--text);
  border: none;
  border-radius: 20px;
  text-decoration: none;
  transition: all 0.2s ease;
  position: relative;
  overflow: hidden;
  animation: fadeIn 0.5s ease-out 0.5s both;
}

.products-container .spec-select {
  position: relative;
  padding: 0px 7px;
  height: 27px;
  background: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 8px;
  font-family: "GT Walsheim Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #4f547b;
}

.products-container table td,
table th {
  text-align: center;
  vertical-align: middle;
  font-size: 19px;
  color: #fff;
}

.products-container table tbody {
  transition: all 0.2s linear;
}

.products-container table tbody:hover {
  background-color: #4375e1;
}

.products-container table th {
  font-weight: 700;
}

.products-container .switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 20px;
}

.products-container .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.products-container .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.products-container .slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 6px;
  bottom: 3.5px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.products-container input:checked + .slider {
  background-color: #2196f3;
}

.products-container input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

.products-container input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.products-container .slider.round {
  border-radius: 34px;
}

.products-container .slider.round:before {
  border-radius: 50%;
}

/*===== BG STYLE =====*/
.liquid-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.orbs {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}

.orb {
  position: absolute;
  border-radius: 50%;
  filter: blur(100px);
  opacity: 0.5;
  animation: orbFloat linear infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes orbFloat {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(var(--tx), var(--ty));
  }
}
